name: Despliegue usando ssh

on:
  push:
    branches:
      - master
jobs:
  deploy:
    runs-on: ubuntu-slim

    steps:
      - name: Setup SSH
        run: |
          mkdir -p ~/.ssh
          echo "${{secrets.SSH_PRIV_KEY}}" > ~/.ssh/id_rsa
          chmod 600 ~/.ssh/id_rsa
          ssh-keyscan -H ${{secrets.SERVER_HOST}}" >> ~/.ssh/known_hosts

      - name: Despliegue en el servidor
        run: 
