name: Despliegue usando ssh

permissions: 
  contents: read
  packages: write

on:
  push:
    branches:
      - master
jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Check Out Repository
        uses: actions/checkout@v6

      - name: Test
        run: echo "${{secrets.SERVER_USER}}" | echo "dsada"
        
      - name: Login ghcr.io
        run: echo "${{secrets.GITHUB_TOKEN}}" | docker login ghcr.io -u ${{github.actor}} --password-stdin

      - name: Build Docker Image
        run: docker build . -t ghcr.io/${REPOSITORY,,}:latest
        env:
          REPOSITORY: ${{github.repository}}

      - name: Push Image
        run: docker push ghcr.io/${REPOSITORY,,}:latest
        env:
          REPOSITORY: ${{github.repository}}

      - name: Despliegue por SSH
        uses: appleboy/ssh-action@v1.2.5
        with:
          host: ${{secrets.SERVER_HOST}}
          username: ${{secrets.SERVER_USER}}
          key: ${{secrets.SSH_PRIV_KEY}}
          capture_stdout: true
          script: whoami

      


      
      # - name: Setup SSH
      #   run: |
      #     mkdir -p ~/.ssh
      #     echo "${{secrets.SSH_PRIV_KEY}}" > ~/.ssh/id_rsa
      #     chmod 600 ~/.ssh/id_rsa
      #     ssh-keyscan -H ${{secrets.SERVER_HOST}}" >> ~/.ssh/known_hosts

      # - name: Despliegue en el servidor
      #   run: 
